body{
    padding:20px; 
    margin: 35px; 
    background-color: rgb(233, 233, 226); 
    font-family: "Noto Sans", sans-serif;
}

.gen
.header{
    border: none;  
    padding:20px; 
    margin: 10px; 
    background-color: rgb(222, 223, 179); 
    border-right-style: 4px solid rgb(4, 34, 4);
    text-align: center;  
}

.hero{
    margin: 15px;
}

.hero span{
    border: 2px solid rgba(10, 241, 184, 0.767);

}





