.body{
    padding: 30px;
    height: 100%;
    border: 30px;
}

.gen_cont{
    display: flex;
    gap: 20px;
    background-color: rgb(231, 231, 229) ;
    margin-left: auto;
    margin-right: auto;
}

button{
    background-color: rgb(158, 231, 231);
    padding: 10px;
    margin: 10px;
    border: none;
    font-size: 15px;
}



.section{
    padding: 20px;
    margin: auto;
    line-height: 1.6;
}

#about, #contact, #skills{
    display: none;
}




